// Colores corporativos
$color-primario: #091E3F;
$color-secundario: #6AC6DE;
$color-acento: #007bff;
$color-fondo: #f4f4f4;
$color-texto: #333;
$color-blanco: #ffffff;
$color-hover: #97b6da;

// Tipografía
$fuente-base: 'Open Sans', sans-serif;

// Border radius
$radio: 4px;